{erl_opts, [debug_info]}.
{deps, [
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.7.0"}}},
jsx]}.
{relx, [
    {release, { raincloud, "1.0.0" }, [
            raincloud
        ]},
        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},
        {extended_start_script, true},
        {include_erts, false},
        {system_lib, false},
        {include_src, false}
    ]
}.

