{erl_opts, [debug_info]}.
{deps, [
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.7.0"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "2.10.0"}}}
]}.
{relx, [
    {release,
        {raincloud, "0.8.0" }, [raincloud]},
        {vm_args_src, "config/vm.args.src"},
        {sys_config_src, "config/sys.config.src"},
        {extended_start_script, true},
        {include_erts, false},
        {system_lib, false},
        {include_src, false}
    ]
}.

